/* haut de tete */
header{
    display: inline-block;
    background-color: white;
}
header h2{
	font-size: 40px;
	padding-left: 300px;
}
header p.logo{
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding-left: 300px;
  }

 /*nav menu*/
 nav.menu-nav ul p.contacter{
	font-size: 20px;
	padding-left: 250px;
}


/* bas de page */

.bande {
	background: #000; /* Couleur de fond de la bande */
	color: #fff; /* Couleur du texte dans la bande */
	padding: 40px; /* Espacement interne pour le contenu de la bande */
	font-size: 40px;
	width: 90%
  }

/*choix de la page dans home (menu)*/

	nav.menu-nav ul{
		padding-left: 300px;
	}

	nav.menu-nav ul p{
		padding-left: 200px;
	}

	nav.menu-nav ul li.btn{
		display: inline-block;
	}

	nav.menu-nav ul li.btn a{
		color: White; 
		text-decoration: none;
		padding: 10px;
		font-size: 30px;
		background-color: #000000;
		margin: 20px;
		font-weight: bold;
	}

	nav.menu-nav ul li.btn{
		list-style-type: none;
	}

    nav.menu-nav ul li.btn:hover a{
		color: #000000;
		background-color: White;
		transition: 0.3s; all: calc();
	}

    nav{
	font-size: 40px;
    }


    /*écriture noir gros du bienvnue de chaque pages*/
	p.Bienvenue{
		color: black ;
		font-size: 25px;
		font-weight: bold;
	}

	/*épaisseur écriture boite*/
	div.contente{
		font-size: 30px;

	}

/*pieds de page*/
	footer{
		background-color: #222; /* Couleur de fond sombre */
		color: #fff;           /* Texte en blanc */
		padding: 20px 0;
		position: relative;
		bottom: 0;
		width: 100%;
		font-size: 30px;
	}
	footer p.h10{
		font-size: 40px;
	}
    
/*Texte CINEMAVIS en gros*/
header p.logo h9{
	color: Blue;
	size: 80px;
	font-weight: bold;
}


/*séparateur lien (très)*/
hr {
    border: none;
    border-top: 3px double black;
    color: white;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #000000;
    content: 'RNA';
    padding: 0 4px;
    position: relative;
    top: -13px;
}


nav.menu-nav ul li.btn:hover a{
	color: #000000;
	background-color: white;
	transition: 0.3s; all: calc();

}


/* Le texte un peu plus gros pour les mots importants */
h8{
    color: #000;
    font-size: 25px;
	font-weight: bold;
}




/* Le Tableau */

table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

thead {
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 40px;
}

thead th {
	padding: 10px;
	text-align: left;
	font-weight: bold;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	    background-color: #e9f5ff;
}


td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

